<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Fontawesome icons link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Custom css link -->
    <link rel="stylesheet" href="/css/style.css">
    <title>View parked cars</title>
</head>
<body class="bg-dark">
    <center>
        <div class="container">
            <h1 class="text-warning">Parked Cars</h1> 
            
            <table class="table table-dark table-bordered border-warning table-hover">
                <tr>
                    <th>Car Id</th>
                    <th>Car Number</th>
                    <th>Car Owner</th>
                    <th>Car Model</th>
                    <th>Parked At</th>
                    <th>Action</th>
                </tr>
                <% for (let index in cars) { %>
                <tr>
                    <td><%= cars[index].id %></td>
                    <td><%= cars[index].number %></td>
                    <td><%= cars[index].owner %></td>
                    <td><%= cars[index].model %></td>
                    <td><%= cars[index].parkedAt %></td>
                    <td>
                        <button class="btn btn-danger btn-sm delete_car" data-id="<%= cars[index].id %>">Delete</button>
                    </td>
                </tr>
                <% } %> 

                <!-- Delete zapros uchun function -->
                 <script>
                    function deleteCar(id) {
                        if ( confirm("Are you sure to delete this car?") ) {
                            fetch(`/cars/${id}`, {
                                method: "DELETE"
                            }).then(res => {
                                if (res.ok) {
                                    window.location.reload();
                                } else {
                                    alert("O'chirishda xatolik yuz berdi!")
                                }
                            }).catch(err => {
                                console.error("Error:", err);
                            });
                        }
                    }

                    document.querySelectorAll(".delete_car").forEach(btn => {
                        btn.addEventListener("click", function() {
                            const cardId = this.dataset.id;
                            deleteCar(cardId);
                        });
                    });
                 </script>
            </table>

            <a href="/" class="btn btn-outline-warning">Go back</a>
        </div>
    </center>
</body>
</html>
